[2019-07-09 10:49] jpamarohorta opened #4 "pod install fails due to missing attributes"
`pod install` gives the following error:

[code]

PR [#3](https://github.com/skb1129/react-native-change-icon/pull/3) fixes it.

[2019-09-02 13:42] skb1129 commented on #4
#3 has been merged, closing this issue
Thanks @jpamarohorta

[2019-09-02 13:42] #4 closed

[2019-09-18 15:45] jpamarohorta commented on #4
Thanks! Can you release a new version for npm?

[2019-09-19 05:58] skb1129 commented on #4
Done @jpamarohorta !

[2019-10-10 18:20] SnakeHead opened #9 "Doesn't seem to work"
I've followed the instructions and reviewed the example app.  On iOS, I get a message telling me I've changed the icon, but when I look at the home screen, the app has not changed.  On Android, I see both the regular app icon for my app along with the secondary app I icon I created on the homescreen, prior to even running the change icon code.

[2019-10-11 21:31] SnakeHead commented on #9
I got it to work by putting the icons at the root level (ie: not inside an App Icons folder).
**Note which should be added to the documentation for usage:**  To reset the icon, pass null:  `changeIcon(null)`

[2019-10-11 21:31] #9 closed

[2019-12-18 14:37] isohanvanani opened #11 "Cannot read property 'changeIcon' of undefined"
I installed module as per shown in document and when I tried to hit the `changeIcon('icon_name');`
it throws error **Cannot read property 'changeIcon' of undefined**

[2020-01-22 14:31] mitulshah96 commented on #11
Same issue  as posted above

[2020-02-03 15:24] DRanjith98 commented on #9
I could change the icon in version 0.59 but in version 0.61 I'm getting the following error

null is not an object (evaluating RNChangeIcon.changeIcon)

[2020-02-05 16:02] zsaraf commented on #11
Same here! Any fixes found?

[2020-02-15 22:07] Jonovono commented on #11
same :(((

[2020-02-15 23:08] Jonovono commented on #11
@isohanvanani @mitulshah96 @zsaraf https://github.com/Jonovono/react-native-change-icon

I got it working here, I'll PR onto this branch after I clean it up, but if you want to see what I changed you can check this out.

[2020-02-17 09:25] isohanvanani commented on #11
@Jonovono I've just used your updated code but the issue remains the same on my machine.
Thank You.

[2020-03-04 05:58] skb1129 commented on #11
@isohanvanani Is this issue in both Android or iOS or just one specific platform?

[2020-03-04 13:18] skb1129 commented on #11
I've released a new version(2.0.1) with the fix. Please try that and let me know if it fixes this issue.

[2020-03-13 09:17] Khuongnb commented on #11
:))) Hi, can I ask if I'm able to remove the alert after icon changed, kinda lazy to open new issue

[2020-03-23 05:13] skb1129 commented on #11
@Khuongnb No, you cannot remove that alert. On iOS, it is a necessity and the alert is generated by the system itself. To keep the functionality similar, I added the alert in Android.

[2020-03-28 12:39] skizzo commented on #9
@SnakeHead how did you make this work on Android? I also have two icons next to each other without even calling `changeIcon()`.

[2020-04-04 05:26] skb1129 commented on #11
Closing this issue due to inactivity.

[2020-04-04 05:26] #11 closed

[2020-05-19 16:50] stefankp opened #13 "Launcher icon disappears when changing app icon"
@skb1129 this works great, thank you.

Android uses the `name` of the `activity` (or `activity-alias`) when you add a shortcut for the app to the home screen. Since we need unique names for each `activity-alias`, the previously added shortcut disappears every time the icon is changed.

Have you found a workaround for that issue?

[2020-05-19 17:03] skb1129 commented on #13
Yeah, this is how we use it in our application:
[code]
Note that I changed action MAIN to VIEW in for the MainActivity and set `android:enable="true"` only for the first `activity-alias`. This way the first `activity-alias` is displayed on the home screen and the main `activity` is never displayed.

[2020-05-20 09:12] stefankp commented on #13
@skb1129 I still have the issue, that the app shortcut is removed from the home screen when I change the icon. The shortcut is tied to the `android:name` which is different for each activity and activity-alias 🤔

This doesn't happen with your app?

[2020-05-20 13:31] kamwoz commented on #13
I have the same problem. For user its showing like new app, but with different icon

[2020-05-20 13:49] skb1129 commented on #13
@stefankp Yeah, the shortcut icon on the Home screen however will always be removed whenever the icon is switched. This is one of the drawback and I haven’t found any workaround for this as the alternate icon feature is not actually supported by Android.

[2020-05-20 13:53] stefankp commented on #13
@skb1129 Ok. I am fine with that drawback, was just wondering if you have a solution.

Thank you.

[2020-05-20 13:53] #13 closed

[2020-05-28 01:59] hannzern opened #14 "Android has multiple icons in my phone"
On first install my app only has one icon, which is from the <application> tag in my manifest below. But when I change my icon through the changeIcon fn from react-native-change-icon my phone will have one icon from the <application> tag and the other icon is from one of the two <activity-alias> tags in my manifest.

Below is my manifest file:-
<application
        android:name="com.testing_rn.Mai

[2020-05-28 06:39] skb1129 commented on #14
@hannzern, can you please share the entire manifest file? I need to look at the main `activity` attributes.

[2020-06-04 13:03] skb1129 commented on #14
Closing this issue due to inactivity.

[2020-06-04 13:03] #14 closed

[2020-06-04 13:12] EQuimper commented on #9
Yes I can confirm this work only if you the icons in the root not in AppIcons folder

[2020-06-04 13:54] lntsudhakar opened #15 "MainActivityicon does not exist in com.packagename"
I'm trying to run in android, but I'm getting the following error.

**AndroidManifest.xml**
[code]
**Error**
[code]

[2020-06-04 15:38] skb1129 commented on #15
@lntsudhakar, I think it is a simple package name mismatch, in the AndroidManifest.xml file the package name is **com.package** whereas in the error it is **com.packagename**.

[2020-06-04 15:58] lntsudhakar commented on #15
No I changed the actual package name to sample com.package. Both are same in my file.

[2020-06-04 17:12] skb1129 commented on #15
@lntsudhakar, Please share some more details so that I can pinpoint the issue.
1. What React-Native version are you using?
2. Are you using the latest version of this package?
3. Is the Java package name the same as the package name in AndroidManfest.xml?
4. Can you please share the `android/app/build.gradle` file?

[2020-06-06 08:50] FvApp opened #16 "Icon Change Issue"
Icon not changed in Recent task in IPHONE & IPAD. Please help us.

[2020-06-06 09:26] skb1129 commented on #16
@FvApp, I tried it and it is working on the simulator and my device running iOS 13.4.1.
Please share more details so that I can check this issue:
1. Which React-Native version are you using?
2. Which device are you using and what is the iOS version it's running?
3. Apart from the icon in the recent tasks, does the icon change work without any problems?

[2020-06-06 09:44] FvApp commented on #16
Please let me know the solution for my problem

[2020-06-06 09:44] FvApp commented on #16
"react-native": "0.62.2",
"react-native-change-icon": "^2.0.3",

[2020-06-06 09:45] FvApp commented on #16
Apart from the icon in the recent tasks, icon changes work without any problems.

[2020-06-06 10:52] skb1129 commented on #16
@FvApp Which device are you using and what is the iOS version it's running?

[2020-06-08 04:24] FvApp commented on #16
IPAD  13.4.1

[2020-06-08 06:19] lntsudhakar commented on #15
It was the package name different in gradle file. Now its fixed.

[2020-06-08 06:19] #15 closed

[2020-06-08 06:52] lntsudhakar opened #17 "App is closing in Android10; App icon not visible in Android9"
**Platform**
 - [x] Android

**Description**
1 - In Android10 (Emulator) app is closing after changing the icon.
2 - In Android 9 - Pie (Samsung S8 real device) icons are not visible.

**Device:**
 - Device: Issue 1 - [Nexus_5X_API_29_x86] Emulator
 - Device: Issue 2 - [Samsung S8_API_28] Real device

**Versions**
 - react-native: [0.60.22]
 - react-native-change-icon: [2.0.3]

**Code Snippet**
 A

[2020-06-08 07:19] skb1129 commented on #16
@FvApp I have tried the same in a simulator on iPad, iPad Air, and iPad Prod. It seems to be working just fine on all these simulators, the icon gets changes in all the places that it should. I don't have any real iPad device that I can test it on.

As far as this package is concerned, for iOS, I am using [this method](https://developer.apple.com/documentation/uikit/uiapplication/2806818-setaltern

[2020-06-08 07:19] #16 closed

[2020-06-08 08:09] skb1129 commented on #17
@lntsudhakar, please try replacing your activity with this:
[code]
I tried the same on both Android 9 & 10 simulators, it is working fine for me.

[2020-06-08 08:44] lntsudhakar commented on #17
In Android 10 simulator its working fine. But in Android 9 after changing, app is closing and two instance of app is created.

[2020-06-08 09:52] skb1129 commented on #17
@lntsudhakar, I have updated the comment, can you try again, please?

[2020-06-08 09:59] lntsudhakar commented on #17
@skb1129, Still the same issue

[2020-06-08 10:10] skb1129 commented on #17
@lntsudhakar Can you try in on the Samsung S8 real device. I feel like this might just be a simulator issue.

[2020-06-08 10:17] lntsudhakar commented on #17
@skb1129  In Samsung S8 (Android 9) real device the App Icon itself is not visible.

[2020-06-08 10:28] lntsudhakar commented on #17
@skb1129  Is it working for you in real device for Android 9 and 10?

[2020-06-08 10:55] skb1129 commented on #17
@lntsudhakar I don't have any Android device with me that I can test it on.

[2020-06-08 11:07] skb1129 commented on #17
@lntsudhakar, can you please once try running a release version of the application. I tried it and it is working now on both Android 10 & 9 simulators.

[2020-06-08 13:56] lntsudhakar commented on #17
@skb1129 Still the same issue in emulator. In Real device Android 9 the icon is not visible, and in real device Android10 the app is getting closed.

[2020-06-08 15:06] skb1129 commented on #17
@lntsudhakar I don't have enough bandwidth and resources to work on this issue.

The icon changing experience in Android is not actually supported by Android itself and what I did in this package is a workaround, issues are always expected.

I'll mark this issue as help wanted and will continue working on this when I have the bandwidth.

[2020-06-26 06:19] anvitad-sdei commented on #17
I have integrated this plugin for both Android and iOS platforms. And It's work fine for me changing icons accordingly.
But my finding this:

iOS: App icon change as per my requirement with a nice popup (You have changed your app icons) I like this.
Android: App icon change as per my requirement but not showing popup I need to show the popup. Instead of popup app is going background.

Is there any

[2020-06-26 07:48] skb1129 commented on #17
@anvitad-sdei The `changeIcon` function returns a promise when the task is complete. You wait for that promise to fulfill and then use the React-Native internal Alert module to display an alert just for android.
This is how we handle it in our application.

[2020-06-26 14:16] anvitad-sdei commented on #17
@skb1129 Can you please send me the working code example which I have got icon name in console.log, In this plugin document, I'm unable to see any example related this.

[2020-06-27 11:36] skb1129 commented on #17
@anvitad-sdei, This issue is regarding that problem only. This is happening on Android 10.

[2020-07-20 07:33] Vidya-K1 commented on #17
@skb1129 Hi, We used your package for production build. We are facing android app closing issue. Is there anything updates on it? It is very urgent due to release.

[2020-07-20 07:35] Sabari-C commented on #17
@skb1129 Hi, We used your package for production build. We are facing android app closing issue. Is there anything updates on it? It is very urgent due to release.

[2020-07-21 08:31] ensargunesdogdu commented on #14
Hello Friends,

I have the same problem.  Here my

`
<application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".M

[2020-07-21 09:40] skb1129 commented on #14
@ensargunesdogdu Did you try running in release mode, because in debug mode, it does display multiple icons.

[2020-07-21 09:44] skb1129 commented on #17
@Sabari-C No updates yet, I still don't have the bandwidth and the resources to work on this.
You are welcome to create a PR if you are able to get a solution for this, I can review and merge that as soon as possible.

[2020-08-05 17:05] cesarm16 commented on #14
The same thing happens to me, it doesn't matter if it's in release mode or debug mode. Sometimes there are three icons.

[2020-09-01 06:51] MuhammetAdamoglu opened #19 "Using these library features in expo"
Hello, first of all I am glad to see such a library. How can I use this library in expo?

[2020-09-01 07:21] skb1129 commented on #19
Hi @MuhammetAdamoglu, to make this library work, you'll need access to modify the native iOS and Android files of your react-native application and I don't think Expo provides that access which is why it cannot be used in Expo applications.
If you can find a way to make this package work with some code modifications, please do create a PR, I'll sure review and test it.

[2020-09-02 17:35] skb1129 commented on #19
Hi @MuhammetAdamoglu, if you are satisfied with my answer, please respond so that I can close this issue.

[2020-09-03 13:31] skb1129 commented on #19
Closing this issue due to inactivity.

[2020-09-03 13:31] #19 closed

[2020-09-21 08:38] Relax594 opened #20 "null is not an object (evaluating..)"
**Platform**
 - [ X ] iOS
 - [ not tested ] Android

**Description**
App is crashing when trying to change the icon.

`error calling specific saga generator function [TypeError: null is not an object (evaluating '_reactNative.NativeModules.ChangeIcon.changeIcon')]`

**To Reproduce**
Steps to reproduce the behavior:
1.
2.

**Expected behavior**
App Icon's changing

**Screenshots**

Structure is lik

[2020-09-21 09:38] skb1129 commented on #20
@Relax594, the key in `Info.plist` should be `CFBundleAlternateIcons`, you misspelt it.

[2020-09-21 09:41] Relax594 commented on #20
Fixed, same issue.

[2020-09-21 10:02] Relax594 commented on #20
I also get this warning now:

`Module ChangeIcon requires main queue setup since it overrides `init` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.`

[2020-09-21 11:09] Relax594 commented on #20
Okay, i managed to do it on the iPhone now. How can we support multiple devices (e.g. iPhone and iPad)?

[2020-09-21 12:30] #20 closed

[2020-09-24 07:30] Relax594 opened #21 "changeIcon(null) does not reset to default"
**Platform**
 - [ X ] iOS
 - [ not tested ] Android

**Description**
calling `changeIcon(null)` does not reset the app icon to default

**To Reproduce**
Steps to reproduce the behavior:
1. change app icon to some alternate
2. try to set it to default with `changeIcon(null)`

**Expected behavior**
App Icon back to default

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-09-24 07:56] skb1129 commented on #21
@Relax594 In Android there is no functionality to reset the icon to default, you always need to pass an activity-alias icon to display. Which is why passing `null` to `changeIcon` will not work on iOS too, just because we need to maintain the cross platform functionality.

[2020-09-24 08:00] Relax594 commented on #21
So i always have to add the default icons into the AppIcons folder aswell?

[2020-09-24 08:12] skb1129 commented on #21
Yes, that is correct @Relax594

[2020-09-24 08:22] Relax594 commented on #21
Thanks.

[2020-09-24 08:22] #21 closed

[2020-10-26 07:45] MuhammetAdamoglu commented on #17
Hi @skb1129 , when the icon changes the application dies. I add the error that the application gives in the icon change below. Maybe this error will help you. I'm trying to fix this.
<img width="1335" alt="Ekran Resmi 2020-10-26 10 45 03" src="https://user-images.githubusercontent.com/35458717/97146100-f1c59a80-176f-11eb-9c34-d90f51b745c5.png">

[2020-10-26 12:38] MuhammetAdamoglu opened #23 "Not working on IOS"
**Platform**
 - [x] iOS
 - [ ] Android

When I change the icon, I get an alert like "icon has been changed" but there is no change in the icon. Can you review the screenshot I shared below and help me find out where I went wrong?

<img width="399" alt="Ekran Resmi 2020-10-26 15 37 41" src="https://user-images.githubusercontent.com/35458717/97173188-d28f3300-1798-11eb-9f12-eb6d09e541cf.png">

<img

[2020-10-26 12:59] MuhammetAdamoglu commented on #23
ok, I understood my problem

[2020-10-26 12:59] #23 closed

[2020-11-09 16:04] mitjaz opened #24 "Warning about missing implementation of requiresMainQueueSetup"
**Platform**
 - [X] iOS
 - [ ] Android

**Description**
A warning is shown that the module does not implement requiresMainQueueSetup.
`Module ChangeIcon requires main queue setup since it overrides `init` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.`

**To Repr

[2021-01-18 18:25] afgarcia86 commented on #23
@MuhammetAdamoglu I am having the same problem can you explain what you did to fix it?

[2021-01-18 18:34] MuhammetAdamoglu commented on #23
@afgarcia86
<img width="207" alt="Ekran Resmi 2021-01-18 21 31 09" src="https://user-images.githubusercontent.com/35458717/104951902-825cf100-59d4-11eb-9293-5c735f3d5fe1.png">
Hi,
I changed the icon name to icon_name@2x.png and icon_name@3x.png. I'm not sure that this is the solution to the error. If it doesn't work, tell me tomorrow I will examine it in detail.

[2021-01-18 19:10] afgarcia86 commented on #23
That was it thanks!

[2021-01-19 11:21] ensargunesdogdu commented on #17
I tried many things. No result for android 10. App still closing. Only way to do it when app enable the icon first then when the app is on Pause disable the other component.It's still kill the app but at least user does not experience it. See the code below. If it's okey for you guys. I can create a PR.

`
class ChangeIconModule(reactContext: ReactApplicationContext, private val packageName: Strin

[2021-01-20 06:33] skb1129 commented on #17
@ensargunesdogdu, this seems like an appropriate solution but I would suggest we do not put a check on the SDK version, keep it consistent for all android versions. You can proceed for creating a PR, I'll test and review it before merging.

[2021-01-27 14:06] afgarcia86 commented on #17
I am also experiencing this +1 for update.

[2021-01-27 15:43] Victor-Varghese opened #26 "Android: App closes after icon change"
Thanks a lot for this terrific library.

Hi,

I was able to change icons in iOD and android using this library. I just needed to verify whether the following is a bug or not.
On android , upon calling changeIcon,  the app is closed (not relaunched) but the app icon is changed successfully.

If it's not a bug, is there a way to automatically relaunch app. (Like [this stackoverflow answer](https://s

[2021-01-27 16:08] Victor-Varghese commented on #17
I can confirm the changes made by @ensargunesdogdu works like a hack for android 10 . if user minimised the app, it will be killed (not sure why)

But these changes will not work with Android 8 versions. i couldn't even see app icons in some scenarios

[2021-01-27 18:44] ensargunesdogdu commented on #17
@skb1129 Maybe we should keep the code as it is for supporting smooth experience for older devices. And keep SDK version check logic. Whats your idea ?

[2021-02-02 06:13] skb1129 commented on #17
@ensargunesdogdu Can you try this solution: https://stackoverflow.com/a/62882752.
If this does not work, we can go ahead with your solution.

[2021-02-02 06:13] skb1129 commented on #26
This is an existing issue, being tracked here: https://github.com/skb1129/react-native-change-icon/issues/17

[2021-02-02 06:13] #26 closed

[2021-02-03 22:55] afgarcia86 commented on #17
@skb1129 you closed this but I don't think we are clear on what we need to change? I am still experiencing the crash when it updates the icon on Android.

[2021-02-04 04:05] skb1129 commented on #17
@afgarcia86 I didn't close this issue, I closed a duplicate issue and referenced that to this issue.

[2021-02-10 08:12] skb1129 commented on #17
@ensargunesdogdu I tried the other solution I mentioned earlier, it does not work. We can move ahead with your solution.
Please create a PR with your solution and tag me as a reviewer. I'll test it and merge it in a couple of days.

[2021-02-10 08:20] Victor-Varghese commented on #17
@skb1129 can you also check why app is killed when going to background (@ensargunesdogdu  's solution)

[2021-02-10 08:41] skb1129 commented on #17
That is the hack in his solution. The icon will be changed when the app goes background so the user will not experience the crash.

[2021-02-11 13:58] blazk0 commented on #17
This is happening to me as well,
on IOS its working great.
on Android, it makes the app go to background mode (the icon is changed tho) and if you click on the app icon while its still in background , white screen is present. (its not a crash the app makes network request but only white screen)

[2021-03-04 12:09] niraj-rahi-smartdata opened #29 "Change Icon success, but MainActivity class does not exist error"
[code]

Let me know what is wrong

[2021-03-04 12:47] skb1129 commented on #29
@niraj-rahi-smartdata Please use the bug report issue template that is provided to you while creating the issue, that will help me clearly identify the problem.
If this is not a bug and you are just facing some setup problem, I suggest you thoroughly go through the README and try the example project that is given in this repository. If your issue is still not resolved, you may communicate over thi

[2021-03-04 12:47] #29 closed

[2021-03-05 11:40] rusakovic opened #32 "[FEATURE] Disable alert after changing the icon"
**Platform**
 - [ x ] iOS

**Description**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Icon is changed via `changeIcon('iconname')`
2. Alert is shown

**Expected behavior**
Don't show alert

**Screenshots**
![image](https://user-images.githubusercontent.com/17801144/110110820-6fee1980-7dc0-11eb-9f79-fc36d6c4c265.png)

**Device (please c

[2021-03-05 16:18] skb1129 commented on #32
@rusakovic This change is not technically viable due to restrictions by iOS itself. Please note that this alert has not been added by me. The alert is not generated by the application, it is actually generated by the iOS system to notify the user that the icon for the app currently in use has changed. There is no other way around this. Please refer to the following official Apple documentation for

[2021-03-05 16:18] #32 closed

[2021-03-13 02:19] cutenesss commented on #23
hi. even with the correct icon name, my app icon shows no change. is there any other things i should considers?

[2021-03-22 15:11] skb1129 commented on #24
@mitjaz guys I have just released a beta version fixing this issue, please try it once, if this works then I'll create a major release on NPM.

[2021-03-22 15:11] skb1129 commented on #17
Guys I have just released a beta version fixing this issue, please try it once, if this works then I'll create a major release on NPM.

[2021-03-25 06:26] sjusaitis commented on #24
Worked for me! thanks

[2021-04-05 19:11] skb1129 commented on #24
Closing this issue, it has been fixed.

[2021-04-05 19:11] #24 closed

[2021-04-10 22:25] pdooo commented on #14
I have same issue

[2021-04-20 08:27] phithu opened #33 "Can I select the app icon from the Network/URL"
Hi @skb1129, thank for creating great lib. I want to select the app icon from the network or URL. Do you have idea to implement this feature? Thanks

[2021-04-20 08:47] skb1129 commented on #33
Hey @phithu, I did try to find a way to do this when I was initially creating this package but I could not find a way to do this. Every documentation seems to point that the icons should be inside the application bundle itself, it cannot be fetched from a remote server. This goes for both Android and iOS applications.
If you do find some resources that show how to get the app icons from a network,

[2021-04-20 08:47] #33 closed

[2021-05-13 00:15] afgarcia86 commented on #17
@skb1129 how do I test the beta version?

[2021-05-13 06:45] skb1129 commented on #17
@afgarcia86 `npm i react-native-change-icon@3.1.0-beta.0`

[2021-05-27 09:41] ruairioliverwv commented on #17
Hi @skb1129, I tried this out today. Not perfect but definitely improvement on closing the app.

[2021-05-27 11:44] sohail-dragon commented on #23
Might be a little late, but I had a debug.plist which needed to be updated as well. Maybe it helps you. If you haven't already found a solution that is 😛

[2021-06-11 12:46] MarvinVk opened #36 "Alternate icon not supported"
**Platform**
 - [X] iOS
 - [ ] Android

**Description**
It does not work anymore to change the icons on iOS. It displays the error `Alternate icon not supported`.
It always worked fine until recently. I did not change anything in the code so I was wondering if someone knows anything about a recent update from iOS? Is there anyone that faces the same issue?

**To Reproduce**
Steps to reproduce the

[2021-06-15 13:55] joseAMesaS commented on #36
Having the same issue! same versions.

[2021-06-16 17:16] zachgibson commented on #36
Seems like your system doesn't support changing app icons. [Here's](https://github.com/skb1129/react-native-change-icon/blob/master/ios/ChangeIcon.swift#L13) where the error gets thrown and [here](https://developer.apple.com/documentation/uikit/uiapplication/2806815-supportsalternateicons) is the UIKit instance property documentation.

[2021-06-16 17:43] zachgibson commented on #36
@MarvinVk one thing I'm wondering is maybe your `info.plist` needs to be changed/fixed? iOS 14.5 supports this feature.

[2021-06-16 17:46] zachgibson commented on #36
Actually no, that doesn't make sense because the property is just a boolean and this error gets thrown if it is false. Let me install this module and see if it works for me.

[2021-06-16 18:02] zachgibson commented on #36
So I just installed `"react-native-change-icon": "^3.0.0"` and ran on iPhone 12 mini simulator running iOS 14.5 and it works. Not sure why you env is saying alternate icons are not supported.

[2021-06-17 16:21] skb1129 commented on #36
@MarvinVk can you please share your `info.plist` file?
Please refer to the Example application in the repository, it is tried and tested and it seems to be working just fine.

[2021-06-18 07:26] MarvinVk commented on #36
This is my `info.plist`:
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBu

[2021-06-19 05:31] skb1129 commented on #36
@MarvinVk the `CFBundlePrimaryIcon` key should be on the same level as `CFBundleAlternateIcons` key. Currently, it is inside the `CFBundleAlternateIcons` dict.

[2021-07-31 17:02] Fortidude commented on #14
Same here - each activity-alias can create another app icon

[2021-08-24 21:13] MaxMSolutions opened #39 "Android & iOS: Icon Change Stops Changing Icon After App is Force Closed"
**Platform**
 - [x ] iOS
 - [x ] Android

**Description**
When you first install an application that includes the icon switching logic, it changes the icon when calling `changeIcon`. If you force-close the app, reopen, and attempt to change the icon again, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Install your application
2. Open it and change the icon
3. Force close t

[2021-08-26 12:27] dancixx opened #40 "Empty Icon after setting the default"
**Platform**
 - [x] iOS
 - [x] Android

**Description**
I try to set the default app icon, but after the `changeIcon` method I get an empty icon.

[code]

[2021-08-26 15:26] #40 closed, assigned to skb1129

[2021-09-16 09:53] codemeall opened #41 "Android - Re-Build issue after app icon change"
**Platform**
 - [ ] Android

**Description**
In android when changing app and re-run it says the main activity does not exist. I doubt once after release if icon changed and releasing new version, then any update from play store will make app crash, couldn't verify this scenario but I doubt.

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate the app Icon change feature
2. Change Icon

[2021-09-29 22:41] MaxMSolutions commented on #41
Can you include your AndroidManifest.xml?

[2021-09-29 22:44] MaxMSolutions commented on #39
This was related to my misunderstanding that the contract for the `changeIcon` function was a **Promise**, not a **String**.

Once I updated my call to:
`await changeIcon('ICONNAME')`

The issue was no longer present.

I saw that a recent commit updated the TS contract to a Promise thanks @jakub-gonet !

[2021-09-29 22:44] #39 closed

[2021-09-29 22:49] MaxMSolutions opened #43 "Android - Switching Icon 2 Or More Times Causes Multiple App Icons"
**Platform**
 - [ ] iOS
 - [x] Android

**Description**
In the event your app has 3 or more icons you're swapping between if you switch the icon more than **once** the package will cause your application to display 2 or more icons. (1 icon less than the number of icons you've switched between)

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an project with at least 3 alternate icons.
2

[2021-09-29 22:49] MaxMSolutions commented on #43
@skb1129 I submitted a PR to resolve this issue:

https://github.com/skb1129/react-native-change-icon/pull/42

[2021-09-30 07:22] caolong0204 commented on #43
@MaxMSolutions  is there anyway to change icon to  an image which isn't prepared before building ?

[2021-09-30 12:21] MaxMSolutions commented on #43
Unfortunately not, you have to configure them as activities in your `AndroidManifest.xml`

[2021-10-01 11:18] caolong0204 opened #44 "Duplicate app in first change icon app"
**Platform**

 -  Android

**Description**
In android, i used code like code in project example
Firstly i change icon app, i see my app is duplicated ,one with old icon and one with new icon
When update icon one more, there will be only an app.

**To Reproduce**
Steps to reproduce the behavior:
1.Build app and change icon app first
2.back to main screen. and there will be 2 app appear.

**Expected

[2021-11-10 19:33] junioroga commented on #44
I solved this by setting enabled=false for all activity-alias.

[2021-11-11 15:34] 0xc14m1z commented on #44
Thanks for the tip @junioroga , but I have the same behavior... double icon.

This is my `AndroidManifest.xml` file, with some omission for confidential reasons:

[code]

[2021-11-11 15:46] junioroga commented on #44
Your first activity-alias on MainActivitystandard must be enabled false, all activity-alias must be, enabled false. The props android:icon="@mipmap/colorful"
android:roundIcon="@mipmap/colorful_round"
Need be too in the <activity /> main.

[2021-11-11 15:58] 0xc14m1z commented on #44
Maybe I'm missing something here.

The `MainActivitystandard` is the activity with the standard icon we provide.
I switched it back to `enable=false` to be sure but I still have the two icons around.

This is the updated XML part.

[code]

I also added `android:icon="@mipmap/standard"` and `android:roundIcon="@mipmap/standard_round"` to the main activity but still, two icons:

[code]

[2021-11-11 16:31] junioroga commented on #44
Are you deleting the app before run it again?

[2021-11-11 16:38] 0xc14m1z commented on #44
I delete the app before every test.
I have command for the android cleanup which does: `"android:cleanup": "rimraf android/.gradle android/build android/app/build"`.

But no, I don't run `react-native link` between each attempt. Let me try.

[2021-11-11 16:52] junioroga commented on #44
Can you try, setting the package name before .MainActivitystandard, com.xxxxxx.MainActivitystandard and com.xxxxxx.MainActivitycolorful

[2021-11-11 17:06] 0xc14m1z commented on #44
I did that too, but still have the double icons.
I know you're trying your best don't worry 🙂
We're following the same steps I tried before, it's cool to know that I had the same reasoning as you're having to troubleshoot this issue at least...

[2021-11-12 01:53] caolong0204 commented on #44
This is my manifest, and it's solved this issue

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.longvu.appdemo">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <application android:name=".MainApplication

[2021-11-19 11:10] 0xc14m1z commented on #44
I tried to start from the example app and used all the suggestions received from @junioroga and the sample app is working!

Now, I tried with my own manifest but it's not, so I guess that the difficulty here might be around my manifest being way more complex than the sample one.

Would I need to move copy over all the aliases all the intent-filters maybe? 🤔

[2021-11-19 12:47] 0xc14m1z commented on #44
I realized that the double icon is due to the splash screen activity:

[code]

When I disable it, it works well 😔
Ideas?

[2021-11-25 22:12] joe-yeomans opened #46 "Setting the iOS app icon back to default"
**Platform**
 - [x] iOS
 - [ ] Android

**Description**
Passing an empty string to `changeIcon(iconName)` should pass nil to `UIApplication.shared.setAlternateIconName(iconName)`. This will allow the default iOS icon to be set.

**To Reproduce**
Steps to reproduce the behavior:
1. Pass an empty string to the `changeIcon(iconName)` function.

**Expected behavior**
This should set the default app ic

[2021-12-02 03:00] cesargdm commented on #46
https://developer.apple.com/documentation/uikit/uiapplication/2806818-setalternateiconname

[2022-01-10 10:36] Bulkman opened #49 "Package update"
Please update npm package to at least 3.1.2 version to include #42 PR

[2022-01-11 04:24] skb1129 commented on #49
@Bulkman pushed 3.1.2 to NPM

[2022-01-11 04:24] #49 closed

[2022-01-11 04:25] skb1129 commented on #43
Deployed 3.1.2 version on NPM with this fix

[2022-01-11 04:25] #43 closed

[2022-01-11 04:30] skb1129 commented on #44
@0xc14m1z try using this library for splash screen: https://github.com/crazycodeboy/react-native-splash-screen
I tried it once, did not give me any problems

[2022-01-11 04:33] skb1129 commented on #46
To keep the flow similar in iOS and Android, we did not use this functionality provided by iOS.

[2022-01-11 10:57] Bulkman commented on #49
thx

[2022-01-12 15:13] chmiiller commented on #46
So there's no way to set the app icon back to the default one? +1 for exposing this

[2022-01-12 15:14] joe-yeomans commented on #46
@chmiiller The way I got around it is by adding the default icon as a second icon. This was you can switch between the two.

[2022-01-19 02:36] xclidongbo opened #50 "UI API called on a background thread"
Main Thread Checker: UI API called on a background thread: -[UIApplication supportsAlternateIcons]
Main Thread Checker: UI API called on a background thread: -[UIApplication alternateIconName]

[2022-01-19 14:10] gary-cohen commented on #50
I'm seeing the same error and the first time it runs it takes a long time to prompt for the change.. I'm guessing this is why.

[2022-01-21 08:08] skb1129 commented on #50
https://github.com/skb1129/react-native-change-icon/pull/37
Can you please check this PR, will this fix the issue?

[2022-01-21 14:00] swatiredhu17 opened #51 "Update request (jcenter): remove usage of jcenter()"
**Platform**
 - [ ] Android

**Description**
JCenter is going to be read-only. Are you planning to remove jCenter from build.gradle ?

**Code Snippet**
Path : react-native-change-icon/android/build.gradle
  repositories {
    google()
    jcenter()
  }

[2022-01-22 20:02] ebhdeveloper opened #52 "WARN Possible Unhandled Promise Rejection (id: 0): Error: Alternate icon not supported"

[2022-01-26 14:52] alexhochreiter commented on #41
Same here
**Platform**
 - [x] Android

**Description**
After changing the icon the app cannot be opened anymore. Opening the app via the default home screen launcher will only open the app's system settings / app info. Starting the app via android studio will print the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
I am really uncertain what causes this to happen.

**Expected

[2022-01-27 14:18] oleksandrParniekov commented on #32
@skb1129 Thank you for the explanation. Maybe you can add this to Readme :)

[2022-01-28 11:18] gary-cohen commented on #50
@skb1129 Yes, this solves the problem.

[2022-02-02 15:17] ToniLloyds opened #53 "Android app crashes after changing icon and trying to get native premission"
**Platform**
 - [ ] iOS
 - [ x] Android

**Description**
App crashes after changing icon and asking for permission or opening in app browser

**To Reproduce**
Steps to reproduce the behavior:
1. After installing the app change the icon
2. Try to ask for permission for example using `react-native-permissions` package [request](https://github.com/zoontek/react-native-permissions#request) method
3. A

[2022-02-04 10:59] ToniLloyds commented on #53
Here is a minimal reproducible example with fresh install of react native and very similar package `rn-dynamic-app-icon` but same thing happens with this one
https://github.com/ToniLloyds/example-cahnge-icon-bug

To reproduce

git clone https://github.com/ToniLloyds/example-cahnge-icon-bug
cd into project directory
install dependencies yarn
Run it yarn android
After app opens click on "change UK"

[2022-02-17 07:55] xclidongbo commented on #14
same issue

[2022-02-25 22:25] gary-cohen commented on #50
@skb1129 can you accept the PR 🙏

[2022-03-09 13:28] Angelk90 opened #54 "Release Apk"
**Description**
Hi @skb1129 , it would be possible to release an apk for each version that is released to be able to test the behavior without having to download the whole project, install the libraries and compile an apk.

[2022-03-21 07:10] Gabsys opened #55 "App disappear upon icon change on Android"
**Platform**
 - [ ] iOS
 - [x] Android

**Description**
_Sometimes_ upon changing icon on Android, the app will first be duplicated (2 apps on homescreen with diff icons), followed by the dissapearance of both apps, both dissapear from homescreen.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the package as instrucuted in README
2. Trigger change icon

**Expected behavior**
App icon

[2022-03-23 12:40] tribiec opened #57 "Error: Alternate Icon Not Supported"
**Platform**
 - [X] iOS
 - [ ] Android

**Description**
I'm unable to change my icon dinamically using this Library after following all the exact same steps of the README, also I know it's a problem in my machine because other co-workers were able to test the feature succesfully.

I'm using iOS 15.0 in a Macbook Pro 14" with M1 Pro

**To Reproduce**
Steps to reproduce the behavior:

1. Follow all

[2022-04-12 23:36] utiq opened #59 "I cannot change the icon"
**Platform**
 - [X] iOS
 - [ ] Android

**Description**
The icon is empty
![image](https://user-images.githubusercontent.com/1144196/163070856-915ce2df-aaa9-494c-a74c-79c8a4cd0d14.png)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device (please complete the following informati

[2022-05-02 23:57] juniorogaa commented on #57
i have the same problem when i changed my mac to m1 last week.

[2022-06-23 14:47] okendii opened #62 "The promise returns true, but the app icon doesn't change"
**Platform**
 - [x] iOS

**Description**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.

**Expected behavior**
A clear and concise description of what you expected to happen.
I ex

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device (please complete the following information):**
 - Device: [e.g. ipad a

[2022-06-27 12:45] #62 closed

[2022-08-01 02:55] SmartArray commented on #57
Not working on M1 Simulator here either. Works flawlessly on physical device though!

[2022-08-02 09:08] YutaSugimura opened #64 "react-native@0.69.x build failed on Android"
**Platform**
 - [ ] iOS
 - [x] Android

**Description**

I get an error when building on android with react-native 0.69.x version

**Screenshots**

[code]

**Versions**
 - react-native: 0.69.3
 - react-native-change-icon: 3.2.0

**Solution**
Adding kotlinVersion to Android/build.gradle solved the problem!
[code]

[2022-08-05 13:24] megancallenbach commented on #55
I'm experiencing the same issue on Huawei P30 Pro Android version 10.
The app gets duplicated on the home screen & then both the original app and the duplicate disappear.
The app is in some kind of limbo state then, it's not showing up as a search result and it's gone from home screen but it's still installed on the device (in settings i can remove it)

[2022-08-09 14:54] o5faruk commented on #59
Try restarting the device. I had the same issue. It seems there is some icon caching issue on ios

[2022-08-15 20:54] omerakyol commented on #53
@ToniLloyds You can follow this fix: https://github.com/skb1129/react-native-change-icon/pull/66/commits/7542e96b830d2d4df38c5599213be18735709565

[2022-08-16 06:55] imanshul opened #67 "getIcon() is not a method in 3.2.0"
**Platform**
 - [ ] iOS
 - [ ] Android

**Description**
When calling getIcon() the app is crashing as the getIcon() method is not present in NativeModules and index.ts files in version 3.2.0. The CI/CD pipeline failed 6 days ago. please re-build the project

**To Reproduce**
Steps to reproduce the behavior:
1. Do npm install on 3.2.0
2. call getIcon() method

Error:
[TypeError: (0, _reactNativeCha

[2022-08-16 06:57] imanshul commented on #67
I can see code is present in repo for getIcon in both index.ts and Native module file.

[2022-08-16 09:23] skb1129 commented on #67
@imanshul latest master branch has not been released on NPM yet
please check after it has been released on NPM or use it directly using Github Package

[2022-08-18 19:57] skb1129 commented on #64
@YutaSugimura please verify using the new v4.0.0 release

[2022-08-18 19:58] skb1129 commented on #59
@utiq seems like a configuration error, please follow the steps mentioned in the readme.

[2022-08-18 19:58] #59 closed

[2022-08-18 19:59] skb1129 commented on #57
@tribiec please verify using the new v4.0.0 release.

[2022-08-18 20:04] skb1129 commented on #55
@Gabsys can you please try using v4.0.0
I can see you have action MAIN & category LAUNCHER in your MainActivity XML, try removing that.
Also you need to `android:exported="true"` to both you activity-alias
Try running the example application on your device

[2022-08-18 20:06] skb1129 commented on #53
@ToniLloyds  can you please try using v4.0.0
I can see you have action MAIN & category LAUNCHER in your MainActivity XML, try removing that.
Also you need to android:exported="true" to both you activity-alias
Try running the example application on your device

[2022-08-18 20:07] skb1129 commented on #52
Duplicate https://github.com/skb1129/react-native-change-icon/issues/64

[2022-08-18 20:07] #52 closed

[2022-08-18 20:08] skb1129 commented on #51
@swatiredhu17 this issue is fixed in the latest release

[2022-08-18 20:08] #51 closed

[2022-08-18 20:09] skb1129 commented on #50
Closing this issue as it is fixed

[2022-08-18 20:09] #50 closed

[2022-08-18 20:11] skb1129 commented on #46
Your default icon can be added as an alternate icon as well, this would give you the ability to switch back to default.

[2022-08-18 20:11] #46 closed

[2022-08-18 20:12] skb1129 commented on #44
Closing as it is inactive

[2022-08-18 20:12] #44 closed

[2022-08-18 20:14] skb1129 commented on #41
@codemeall this is expected as we are not mounting MainActivity, we are mounting the activity-alias and by default, the run script tries to open MainActivity.
It only happens in development mode, with no issues in release builds.

[2022-08-18 20:14] #41 closed

[2022-08-18 20:14] skb1129 commented on #36
Closing as inactive

[2022-08-18 20:14] #36 closed

[2022-08-18 20:15] skb1129 commented on #17
Closing as inactive

[2022-08-18 20:15] #17 closed

[2022-08-19 02:53] YutaSugimura commented on #64
Thanks.

[2022-08-19 02:53] #64 closed

[2022-08-19 14:58] pkaypilania commented on #57
I have also facing same issue. I have M2 Macbook pro 13".

[2022-09-05 16:28] nicolasdevienne opened #69 "this.componentClass.split("MainActivity")[1] does not exist"
**Platform**
 - [ ] iOS
 - [x] Android

**Description**
I suggest you to change function getIcon() for Android :
[code]
by
[code]
Because when we launch for the first time the app, getCurrentActivity().getComponentName().getClassName() returns "com.xxx.MainActivity" and split function return an array with only one value, this.componentClass.split("MainActivity")[1] does not exist !

**Versions**

[2022-09-07 09:47] nicolasdevienne commented on #69
This issue appears only on simulator. On real device it's OK!

[2022-09-07 09:47] #69 closed

[2022-09-08 09:13] megancallenbach commented on #55
Version 4.0.0 and the example app work well on my Huawei v10 device! 👍 Thank you @skb1129

[2022-09-19 06:27] neonithya opened #70 "android app failed -length=1; index=1"
**Platform**
 -  Android

**Description**
E/unknown:ReactNative: Exception in native call
    java.lang.ArrayIndexOutOfBoundsException: length=1; index=1
        at com.reactnativechangeicon.ChangeIconModule.getIcon

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions**
 "react": "18.1.0",
    "react-native": "0.70.0",
    "react-native-change-icon": "^4.0.0"

[2022-09-19 15:00] juniorogaa opened #71 "Crashing on Android after upgrading to react-native 0.70.1"
**Platform**
 - [ ] iOS
 - [X] Android

**Description**
After updating the application to react-native version 0.70.1, this behavior started to occur when calling the icon change function. "Application has stopped working" notification appears.
I realize that in newer versions of android this doesn't happen, but I got the error because of sentry monitoring.
Strange that in the previous version of

[2022-09-26 16:56] juniorogaa commented on #71
I noticed that in other versions of Android the app doesn't behave very well when changing the icon. The application disappears from the recent applications tree and cannot be closed.

[2022-10-03 12:11] gontovnik opened #72 "Patch that fixes errors on iOS + d.ts for TypeScript"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-change-icon@4.0.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-10-13 08:45] walterholohan commented on #72
Thanks @gontovnik, lifesaver. Can you create a PR with this so that the project is Typescript enabled

[2022-10-14 05:38] panktiszluck opened #73 "Help Request: I want to add SplahsActivity as initial activity, but unable to do with this package"
**Platform**
 - [ ] iOS
 - [x] Android

**Description**
I am trying to set my native splash activity as the initial activity. But, I am unable to find the way.

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate the package in bare project
2. Add new main activity and it's xml file

**Versions**
 - react-native: 0.64.1
 - react-native-change-icon: ^4.0.0

**Code Snippet**
AndroidManife

[2022-10-26 12:43] Ammarlio opened #74 "[Error: ICON_INVALID]"
**Platform**
 - [ ] iOS
 - [X] Android

**Description**
After Integrating and follow the same steps for Android, i am getting [Error: ICON_INVALID]. I did all the steps as the docs and all icons are valid. Anyway on IOS it works fine. Even if i am setting enable property to true in activity-alias for default icon, i am getting the same error.

**To Reproduce**
Steps to reproduce the behavior:
1. i

[2022-11-03 08:25] ChiBao284 commented on #44
App will be duplicated when using react-native-bootsplash library

[2022-11-07 10:11] anujmpec commented on #70
I am also getting this issue . Any Solution ?

[2022-11-15 12:13] anujmpec commented on #70
Any update on this @skb1129 ?

[2022-11-23 07:30] nilava commented on #71
+1 facing the same.

[2022-11-29 21:58] GabiCtrlZ opened #78 "Cannot read property 'changeIcon' of null"
**Platform**
 - [X] iOS
 - [ ] Android

**Description**
When trying to run the `changeIcon` function, I'm running into this error: "Cannot read property 'changeIcon' of null".
It seems that `NativeModules.ChangeIcon` returns null for some reason.

**To Reproduce**
Literally just followed the README example

**Device (please complete the following information):**
 - Device: iPhone 13
 - OS: iOS 15.